html {
    box-sizing: border-box;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1187px;
    width: 100%;
    margin-left: 375px;
    margin-right: 358px;
}
:root {
    --main-background: #181A28;
    --second-background: #1E2133;
    --white-color: #E9EBF9;
    --blue-color: #3378FF;
    --green-color: #6CC880;
    --red-color: #F65164;
    --text-color: #737AAE;
    --h-color: #737AAE;
    --3-color: #23273D;
    --4-color: #3B4165;
    --5-color: #2F3451;
}
.h2 {
  color: var(--white-color);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
.h5 {
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.15px;
}
.p {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.p-14 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */


.header {
    background-color: var(--main-background);
    padding-bottom: 117px;
}
.header__menu {
    display: flex;
    padding-top: 27px;
    margin-bottom: 142px;
}
.header__menu-logo {
    display: flex;
    margin-right: 120px;
}
.menu__logo-text {
    padding-left: 18px;
}
.menu__p-white, .menu__p-blue {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    font-size: 10px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.menu__p-blue {
    color: var(--blue-color);
}
.header__nav {
    padding-top: 5px;
}
.header__menu-list {
    display: flex;
    list-style: none;
    column-gap: 48px;
}
.header__menu-list li a {
    text-decoration: none;
}
.header__menu-list li a:hover {
    color: var(--blue-color);
}
.header__content-flex {
    display: flex;
    justify-content: space-between;
}
.header__content-text {
    padding-top: 136px;
}
.header-h2, .header-h1 {
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 4px;
}
.header-h1 {
    color: var(--blue-color);
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.header-p {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.18px;
    margin-bottom: 24px;
    max-width: 540px;
}
.header__icons-flex {
    display: flex;
    column-gap: 8px;
    margin-bottom: 49px;
}
.header__icon {
    background-color: var(--3-color);
    border-radius: 5px;
    width: 38px;
    height: 38px;
}
.header__icon img {
    padding: 8px;
}
.header__icon:hover {
  transform: scale(1.2);
}
.header__icon-30games {
    background-color: var(--3-color);
    border-radius: 5px;
}
.header__icon-30games:hover {
  transform: scale(1.1);
}
.header__icon-30games a {
  text-decoration: none;
}
.header__icon-30games p {
    padding: 8px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.header__button-buy, .header__button-support {
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1px;
    border-radius: 5px;
    height: 44px;
    border: none;
    transition: all 0.3s;
}
.header__button-buy {
    color: var(--white-color);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
    margin-right: 24px;
    background-color: var(--blue-color);
    width: 88px;
}
.header__button-buy:hover, .header__button-support:hover {
    cursor: pointer;
    opacity: 0.7;
}
.header__button-support {
    color: var(--text-color);
    background-color: var(--3-color);
    width: 116px;
}

/* ------------------------------------------- */

.advantages {
  background-color: var(--second-background);
}
.advantages__h2 {
  margin-bottom: 88px;
  padding-top: 117px;
}
.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  row-gap: 30px;
  padding-bottom: 97px;
}
.advantages__grid-item {
  border-radius: 5px;
  max-width: 370px;
}
.advantages__grid-item:hover {
  background-color: var(--5-color);
  cursor: pointer;
}
.advantages__icon img {
  display: block;
  margin: 0 auto;
  padding-top: 28px;
  margin-bottom: 28px;
}
.advantages__h5 {
  margin-bottom: 8px;
  text-align: center;
}
.advantages__p {
  max-width: 314px;
  text-align: center;
  padding-bottom: 28px;
  display: block;
  margin: 0 auto;
}

/* ------------------------------------------ */

.product {
  background-color: var(--main-background);
}
.product__h2 {
  padding-top: 117px;
  margin-bottom: 65px;
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 188px;
  column-gap: 12px;
}
.product__grid-item {
  border-radius: 5px;
  background-color: var(--5-color);
  max-width: 270px;
  border: 1px solid transparent;
}
.product__grid-item:hover {
  border: 1px solid #4E7CFF;
  cursor: pointer;
}
.product__grid-image img {
  width: 267.5px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.product__grid-image img:hover {
  border: 1px solid #4E7CFF;
}
.product__grid-text {
  padding-left: 28px;
  padding-top: 23px;
}
.product__grid-text h5 {
  margin-bottom: 3px;
}
.product__grid-text p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
  padding-bottom: 28px;
}

/* ----------------------------------------------- */

.payment {
  background-color: var(--second-background);
}
.payment__h2 {
  padding-top: 151.45px;
  margin-bottom: 36.55px;
}
.payment__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 316px;
  gap: 69px;
}
.payment__grid-details {
  padding-left: 15px;
}
.product__flex {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  padding-top: 2px;
}
.product__flex p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
  padding-left: 16px;
}
.product__flex-icon1 {
  width: 30px;
  height: 30px;
}
.product__content {
  border-left: 1px solid var(--5-color);
  padding-left: 24px;
  margin-left: 13px;
}
.product__h4 {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 13px;
}
.product__content-image {
  border-radius: 5px;
  background-color: var(--3-color);
  margin-bottom: 26px;
}
.product__content-image img {
  border-radius: 5px;
  margin-bottom: 3px;
}
.product__content-image p {
  padding-bottom: 7px;
  padding-left: 14px;
}
.product__content-grid {
  border-top: 1px solid var(--5-color);
  padding-top: 28px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 48px;
  
}
.product__content-grid p {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-bottom: 8px;
}
.product__content-grid input {
  border-radius: 5px;
  background-color: var(--4-color);
  width: 310px;
  height: 40px;
  border: none;
}
.product__content-grid input::placeholder {
  color: var(--white-color);
  padding-left: 14px;
  background: url(../img/placeholder_icon.svg) no-repeat;
  background-position: 95% 100%;
}
.content__grid-double_mail {
  justify-self: end;
}
.details__mail-system {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.subscription__flex {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.subscription__flex-icon2 {
  width: 30px;
  height: 30px;
}
.subscription__flex p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
  padding-left: 16px;
}
.details__subscription-buttons {
  display: flex;
  column-gap: 24px;
  border-left: 1px solid var(--5-color);
  padding-left: 24px;
  padding-top: 24px;
  margin-left: 13px;
  padding-bottom: 22px;
}
.details__subscription-buttons button {
  width: 92px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--5-color);
  color: var(--white-color);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.065px;
  border: none;
  border: 1px solid transparent;
}
.details__subscription-buttons button:hover {
  border: 1px solid #4E7CFF;
  cursor: pointer;
}
.system__flex {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  padding-left: 23px;
}
.system__flex-icon3 {
  width: 30px;
  height: 30px;
}
.system__flex p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.14px;
  padding-left: 16px;
}
.details__system-buttons {
  display: flex;
  column-gap: 24px;
  border-left:1px solid var(--5-color);
  padding-left: 24px;
  margin-left: 37px;
  padding-top: 24px;
  padding-bottom: 22px;
}
.details__system-buttons button {
  width: 92px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--5-color);
  color: var(--white-color);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.065px;
  border: none;
  border: 1px solid transparent;
}
.details__system-buttons button:hover {
  border: 1px solid #4E7CFF;
  cursor: pointer;
}
.payment__grid-payment {
  padding-top: 70px;
  max-width: 370px;
}
.payment__order {
  background-color: var(--3-color);
  padding: 25px 28px 26px 28px;
  border-radius: 5px;
  max-width: 370px;
}
.order__details {
  border-bottom: 1px solid #2D325A;
  padding-bottom: 14.42px;
  padding-top: 5px;
}
.order__delivery-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
  border-bottom: 1px solid #2D325A;
  padding-bottom: 14.42px;
  color: var(--text-color);
}
.order__delivery-flex p:first-child {
  margin: 0;
}
.order__delivery-flex a {
  color: var(--text-color);
  margin: 0;
  text-decoration: none;
  padding-top: 10px;
}
.order__delivery-flex a:hover {
  color: var(--blue-color);
}
.order__price-flex {
  display: flex;
  padding-top: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42.58px;
}
.order__price-flex p:first-child {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  margin: 0;
}
.order__price-flex p:last-child {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: 0.15px;
  margin: 0;
}
.payment__order-button {
  color: var(--main-background);
  text-align: center;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
  font-size: 13px;
  font-weight: 600;
  line-height: 24px; /* 184.615% */
  letter-spacing: 0.1px;
  width: 314px;
  height: 44px;
  border-radius: 5px;
  background-color: var(--green-color);
  border: none;
  display: block;
  margin: 0 auto;
}
.payment__order-button:hover {
  cursor: pointer;
}
.payment__grid-payment p {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
  padding-top: 13px;
  max-width: 314px;
  display: block;
  margin: 0 auto;
}
.payment__grid-payment p a {
  color: var(--blue-color);
  text-decoration: none;
}

/* -------------------------------------- */

.footer {
  background-color: var(--3-color);
  padding-top: 73.6px;
  font-family: Montserrat;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__logo {
  padding-top: 20px;
  max-width: 220px;
}
.footer__logo-image {
  display: flex;
}
.logo__text {
  color: var(--white-color);
  font-size: 10px;
  font-weight: 700;
  line-height: 100%; /* 10px */
  letter-spacing: 1px;
  padding-left: 18px;
  margin-bottom: 38px;
}
.logo__text p {
  margin-bottom: 4px;
}
.logo__text p:last-child{
  margin-bottom: 0;
  color: var(--blue-color);
}
.footer__logo-text {
  color: var(--text-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 300;
  line-height: 170%; /* 23.8px */
}
.footer__nav {
  margin-left: 104px;
  max-width: 100px;
}
.footer__nav ul {
  list-style: none;
}
.footer__nav ul li:first-child {
  color: #737AAE80;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%; /* 14px */
  margin-bottom: 24px;
}
.footer__nav ul li {
  margin-bottom: 18px;
}
.footer__nav ul a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
}
.footer__dop {
  margin-left: 107px;
  max-width: 440px;
}
.footer__dop ul {
  list-style: none;
}
.footer__dop ul li:first-child {
  color: #737AAE80;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%; /* 14px */
  margin-bottom: 24px;
}
.footer__dop ul li {
  margin-bottom: 18px;
}
.footer__dop ul a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.footer__copy {
  color: var(--text-color);
  font-family: Manrope;
  font-size: 13px;
  font-weight: 300;
  line-height: 100%; /* 13px */
  padding-top: 78px;
  max-width: 390px;
}
.footer__links {
  margin-left: 17px;
  padding-top: 73px;
}
.footer__links ul {
  display: flex;
  list-style: none;
  column-gap: 25px;
}
.footer__links svg {
  fill: var(--text-color);
}
.footer__links svg:hover {
  fill: var(--blue-color);
}