@media screen and (max-width: 1920px) {
    .container {
        margin: 0 auto;
    }
}


@media screen and (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__menu {
        margin-bottom: 80px;
    }
    .header__content-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__content-text {
        padding-top: 36px;
        margin-bottom: 40px;
    }
    .advantages__grid {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 30px;
        justify-items: center;
    }
    .product__grid {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 88px;
    }
    .payment__grid {
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 116px;
        gap: 69px;
    }
}


@media screen and (max-width: 900px) {
    .product__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 780px) {
    .header__menu {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 42px;
    }
    .header__menu-logo {
        display: flex;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .header__content-image {
        max-width: 587px;
    }
    .header__content-image img {
        width: 100%;
    }
    .advantages__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .product__content-image {
        max-width: 666px;
    }
    .product__content-image img {
      width: 100%;
    }
    .product__content-grid {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 28px;
      justify-items: center;
    }
    .content__grid-double_mail {
        padding-top: 30px;
        justify-self: center;
    }
    .details__mail-system {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .system__flex {
        padding-left: 0px;
        padding-top: 20px;
    }
    .details__system-buttons {
        column-gap: 24px;
        padding-left: 24px;
        margin-left: 13px;
        padding-top: 24px;
        padding-bottom: 22px;
    }
    .footer__grid {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30vw;
    }
    .footer__nav {
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .footer__dop {
        margin-left: 0;
    }
}


@media screen and (max-width: 600px) {
    .product__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 470px) {
    .product__content {
        margin-left: 0;
        padding-left: 0;
    }
    .product__content-grid input {
        max-width: 300px;
    }
    .payment__grid-payment {
        padding-top: 70px;
        max-width: 300px;
    }
    .payment__order-button {
        max-width: 214px;
    }
    .footer__grid {
        padding-left: 5vw;
    }
    .footer__flex {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (max-width: 420px) {
    .header__menu {
        flex-direction: column;
        align-items: center;
    }
    .header__menu-list {
        flex-direction: column;
    }
    .header__icons-flex {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}


@media screen and (max-width: 360px) {
    .product__content-grid input {
        max-width: 200px;
    }
}